@media (max-width:767px) {
  .TitleTheme {
    width: 100%;
    margin-top: 1.8rem;
}
  .TitleTheme .main_intro_title {
    margin-bottom: 1.8rem;
    border-bottom: none;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .TitleTheme .main_intro_title > .title {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-black);
    font-weight: bold;
    position: relative;
  }
  .TitleTheme .main_intro_title > .title::before {
    content: '';
    display: block;
    width: 8px;
    height: 100%;
    background-color: var(--color-green);
    position: absolute;
    top: 0;
    left: -2.1rem;
  }
  .more {
    display: none;
  }
}