.Footer {
  width: 100vw;
  background-color: #000;
  color: #fff;
  padding: 58px 0;
}
.Footer.width {
  width: calc(100% - 320px);
}
.Footer > .inner > .ft_top {
  display: flex;
  justify-content: space-between;
}
.Footer > .inner > .ft_top > .search_area > .keyword {
  display: inline-block;
  min-width: 222px;
  height: 45px;
  margin: 2px 0 28px;
  padding-right: 10px;
  border: 1px solid #333;
  line-height: 45px;
  letter-spacing: -.8px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  position: relative;
}
.Footer > .inner > .ft_top > .search_area > .keyword::after {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #444;
  border-bottom: none;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  content: "";
}
.Footer > .inner > .ft_bottom  ul {
  display: flex;
  align-items: center;
}
.Footer > .inner .ft_bottom  ul > li {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #888;
  letter-spacing: -.8px;
  line-height: 20px;
  white-space: nowrap;
}
.Footer > .inner .ft_bottom  ul > li::after {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 4px 8px 0 6px;
  background-color: #222;
  vertical-align: top;
  content: "";
}
.Footer > .inner .ft_bottom  ul > li > a {
  border-bottom: 1px solid #888;
}
.Footer > .inner .ft_bottom  ul > li:last-child:after {
  display: inline-block;
  content: '';
  margin: 5px 0 0 7px;
  width: 0;
  height: 0;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  border-left: 4px solid #333;
  vertical-align: top;
  line-height: 20px;
}

.search_logo {
  display: none;
}
.ft_right > p {
  border-bottom: 1px solid #333;
  padding-bottom: 0.5rem;
}
.ft_right table {
  color: #888;
}
.ft_right table td,
.ft_right table th {
  padding: 0.5rem 0;
}
.ft_right table th {
  text-align: left;
}
.ft_right table > tr > td {
  color: #fff;
  padding-left: 2rem;
}
.Footer .mob_footer {
  display: none;
}