.change {
  background-color: var(--color-white);
  color: var(--color-gray) !important;
  border-bottom: 1px solid var(--color-lightgray) !important;
}

.Header {
  width: 100vw;
}
.Header.width {
  width: calc(100% - 320px);
}
.Header .header_gnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}
.Header .header_gnb_inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
.Header .header_nav {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  justify-content: space-between;
}

.Header .header_nav > li {
  font-size: 1rem;
  font-weight: bold;
}
.Header .header_nav > li:hover {
  color: var(--color-green);
}
.Header .header_menu > ul {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.Header .header_menu > ul > li {
  font-size: 1rem;
  font-weight: bold;
}
.Header .header_bg {
  width: 100%;
  padding: 2.5rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg.jpeg);
  padding-top: 5rem; 
}
.Header .site_info {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  height: 18rem;
}
.Header .site_logo > img {
  width: 7.6em;
  height: 7.6em;
  border-radius: 50%;
}
.Header .site_sub {
  color: var(--color-white);
  line-height: 2rem;
}
.Header .site_sub > .site_name {
  font-size: 1.2rem;
  font-weight: bold;
}
.Header .site_sub > .site_des {
  font-size: 1rem;
}
.Header .side_menu_bar {
  position: fixed;
  top: 0;
  right: -999px;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  display: block;
  background-color: var(--color-green);
}
.Header .side_menu_bar .logo_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 2rem 4.9rem 3rem;
}
.Header .side_menu_bar .logo_area > .side_logo {
  font-size: 1.5em;
  color: var(--color-white);
}
.Header .side_menu_bar .logo_area > .side_logo:hover {
  cursor: pointer;
}
.Header .side_menu_bar .logo_area > button {
  background: none;
  border: none;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, .08);
  padding: 0.7rem;
}
.Header .side_menu_bar .header_nav ul {
  width: 100%;
}
.Header .side_menu_bar .header_nav ul li{
  font-size: 1rem;
  color: var(--color-white);
  opacity: 0.5;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ffffff55;
  padding-left: 3rem;
  padding-right: 2rem;
}
.Header .side_menu_bar .header_nav ul li:hover {
  background-color: rgba(255, 255, 255, .05);
  opacity: 1;
}
.Header .side_menu_bar .header_nav ul li:last-child {
  border: none;
}


.green {
  color: var(--color-green);
  border-bottom: 1px solid var(--color-green);
}
.white {
  opacity: 1 !important;
}
.side_menu_bar.open {
  position: fixed;
  top: 0;
  right: 0;
}
.header_bg.none {
  display: none;
}
.gray {
  color: var(--color-gray);
}
.black {
  color: #000;
}
.header_dummy.none {
 margin-bottom: 5rem;
}
.logo {
  display: none;
  cursor: pointer;
}
.show {
  display: block;
  color: #000;
  font-size: 1.3rem;
  padding-right: 1.3rem;
}
.header_gnb.shift {
  transform: translateX(-160px);
}