.Header {
  width: 100%;
}
.Header .header_bg {
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg.jpeg);
}
.Header .header_gnb {
  position: relative;
  top: 0;
  left: 0;
  height: 5rem;
  border-bottom: 1px solid var(--color-gray);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header .header_gnb > .header_nav {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.Header .header_gnb > .header_nav > li {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: bold;
}
.Header .header_gnb > .header_menu > ul {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.Header .header_gnb > .header_menu > ul > li{
  color: var(--color-white);
  font-size: 1rem;
  font-weight: bold;
}
.Header .site_info {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  height: 18rem;
}
.Header .site_info > .site_logo > img {
  width: 7.6em;
  height: 7.6em;
  border-radius: 50%;
}
.Header .site_info > .site_sub {
  color: var(--color-white);
  line-height: 2rem;
}
.Header .site_info > .site_sub > .site_name {
  font-size: 1.2rem;
  font-weight: bold;
}
.Header .site_info > .site_sub > .site_des {}
