.SubBlog {
  width: 100vw;
  margin-bottom: 6.1rem;
}
.SubBlog.width {
  width: calc(100% - 320px);
}
.SubBlog .blog_card_wrap .card_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sub{
  display: flex;
  flex-wrap: wrap;
}
.SubBlog .blog_card_wrap .card_bg {
  width: 353px;
  height: auto;
  /* overflow: hidden; */
}
.SubBlog .blog_card_wrap .card_bg .card_box {
  background-color: #fafafa;
  padding: 40px 40px 45px;
  height: auto;
}
 .SubBlog .blog_card_wrap .card_bg .content_img {
    display: block;
  }  
.SubBlog .blog_card_wrap .card_bg .card_box .card_txt {
  height: 220px;
}
.SubBlog .blog_card_wrap .card_bg img {
  width: 100%;
  height: auto;
}
.SubBlog .blog_card_wrap .card_bg .blog_des {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
}
.SubBlog .blog_card_wrap h3 {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.SubBlog .blog_card_wrap .hashtags {
  padding-bottom: 1.5rem;
}
.SubBlog .blog_card_wrap small {
  color: var(--color-gray);
}
.SubBlog .blog_card_wrap h3, .content, .hashtags {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.blog_des .blog_logo {
  display: none;
}
.mobile_name {
  display: none;
}
.name {
  display: block;
}

