.SubWreath {
  width: 100vw;
  margin-bottom: 6.1rem;
}
.SubWreath.width {
  width: calc(100% - 320px);
}
.SubWreath .sub_wreath_box img {
  width: 100%;
}
.SubWreath .sub_wreath_box p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}
@media (max-width:767px) {
  .SubWreath {
    padding-bottom: 2.1rem;
    border-bottom: 7px solid #ccc;
    margin: 0;
  }
  .SubWreath.width {
    width: 100%;
  }
}