.TitleTheme {
  width: 100%;
  margin-top: 6.1rem;
}
.TitleTheme .main_intro_title {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--color-lightgray);
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TitleTheme .main_intro_title > .title {
  text-decoration: underline;
  text-decoration-color: var(--color-green);
  text-underline-offset: 14px;
  font-size: 1.2rem;
  color: var(--color-green);
}